body{
    font-family: 'Open Sans', sans-serif;
}

.banner-container{
    background-color: #57606f;
}

.banner-column{
    background-color: #2f3542;
}

.navbar-container{
    top: 0;
    background-color: #262B37;
    position: sticky;
    z-index: 2;
}

.about-container{
    background-color: #00BDBD;
}

.education-container{
    background-color: #EEEEEE;
}

.bluetype-color{
    color: rgb(13, 13, 139);
}

.bg-redtype{
    background-color: #FB857F;
}

.bg-redtype:hover{
    color: black!important;
}

.redtype-color{
    color: #FB857F;
}

.circle{
    background-color: #FB857F;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    text-align: center;
}

.project-container{
    background-color: #2BB3DD;
}

.form-container{
    background-color: #474D5D;
}

.inner-form{
    background-color: #585F73;
}

.footer{
    background-color: #2BB3DD;
}

.icon-circle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
    background-color: white;
    font-size: 40px;
    text-align: center;
    color: #2BB3DD;
}

.icon-circle:hover{
    background-color: #474D5D;

}

h3{
    text-align: center;
    color:crimson;
    margin: 30px 0 50px;
}

.gallery{
    margin: 10px 50px;
}

.gallery img{
    width: 230px;
    padding: 5px;
    filter: grayscale(100%);
    transition: 1s;
}

.gallery img:hover{
    filter:grayscale(0);
    transform: scale(1.1);
}